## Read from CSV with types

In [ ]:
import pandas as pd

In [ ]:
path = "/mnt/c/Personal/Projects/PyAlgoMate/pyalgomate/backtesting/data/2022-monthly-01"

In [ ]:
dtypes = {
    'Ticker': 'string',
    'Open': 'float64',
    'High': 'float64',
    'Low': 'float64',
    'Close': 'float64',
    'Volume': 'float64',
    'Open Interest': 'float64'
}

In [ ]:
df = pd.read_csv(f"{path}.csv", dtype=dtypes, parse_dates=['Date/Time'], infer_datetime_format=True).drop_duplicates(keep='first')

In [ ]:
df.info()

## Write to parquet format file

In [ ]:
df.to_parquet(f'{path}.parquet', index=False)

In [ ]:
df_parquet = pd.read_parquet(f'{path}.parquet')

In [ ]:
df_parquet.info()

In [46]:
%cd /mnt/c/Personal/Projects/PyAlgoMate

import pyalgomate.utils as utils
import datetime
import pandas as pd
from IPython.display import display

/mnt/c/Personal/Projects/PyAlgoMate

In [ ]:
utils.getNearestWeeklyExpiryDate(datetime.date(2022, 9, 8))

In [ ]:
utils.getNearestMonthlyExpiryDate(datetime.date(2022, 1, 1))

In [ ]:
def read_csv(file):
    dtypes = {
        'Ticker': 'string',
        'Open': 'float64',
        'High': 'float64',
        'Low': 'float64',
        'Close': 'float64',
        'Volume': 'float64',
        'Open Interest': 'float64'
    }

    return pd.read_csv(file, dtype=dtypes, parse_dates=['Date/Time'], infer_datetime_format=True).drop_duplicates(keep='first')

In [ ]:
df1 = read_csv('/mnt/c/Personal/Projects/PyAlgoMate/pyalgomate/backtesting/data/2022/31DEc_06_Jan2022_WEEKLY_expiry_data_VEGE_NF_AND_BNF_Options_Desktop.csv')
df2 = read_csv('/mnt/c/Personal/Projects/PyAlgoMate/pyalgomate/backtesting/data/2022/07_13_Jan_22_WEEKLY_expiry_data_VEGE_NF_AND_BNF_Options_Desktop.csv')
df3 = read_csv('/mnt/c/Personal/Projects/PyAlgoMate/pyalgomate/backtesting/data/2022/14_20_Jan_22_WEEKLY_expiry_data_VEGE_NF_AND_BNF_Options_Desktop.csv')
df4 = read_csv('/mnt/c/Personal/Projects/PyAlgoMate/pyalgomate/backtesting/data/2022/JANUARY-2022-MONTHLY-Expiry-data _Vege.csv')

#df5 = read_csv('/mnt/c/Personal/Projects/PyAlgoMate/pyalgomate/backtesting/data/2022/21_24_MAR_WEEKLY_expiry_data_VEGE_NF_AND_BNF_Options_Desktop_Vege.csv')

In [ ]:
expiry1 = '06JAN22'
expiry2 = '13JAN22'
expiry3 = '20JAN22'
expiry4 = '27JAN22'

expiry5 = '24MAR22'

# define regex patterns to match and replace
pattern1 = r'^([a-zA-Z]+)WK(\d+)(P|C)E$'
pattern2 = r'^([a-zA-Z]+)(\d+)(P|C)E$'
replace1 = r'\1Expiry\3\2'

df1['Ticker'] = df1['Ticker'].str.replace(pattern1, replace1).str.replace('Expiry', expiry1)
df2['Ticker'] = df2['Ticker'].str.replace(pattern1, replace1).str.replace('Expiry', expiry2)
df3['Ticker'] = df3['Ticker'].str.replace(pattern1, replace1).str.replace('Expiry', expiry3)
df4['Ticker'] = df4['Ticker'].str.replace(pattern2, replace1).str.replace('Expiry', expiry4)

#df5['Ticker'] = df5['Ticker'].str.replace(pattern1, replace1).str.replace('Expiry', expiry5)

In [ ]:
file = '/mnt/c/Personal/Projects/PyAlgoMate/pyalgomate/backtesting/data/2022/01.parquet'

pd.concat([df1, df2, df3, df4]).sort_values(['Ticker', 'Date/Time']).drop_duplicates(subset=['Ticker', 'Date/Time'], keep='first').to_parquet(
    file, 
    index=False
    )

In [ ]:
df_parquet = pd.read_parquet(file)

df_parquet[(df_parquet['Date/Time'].dt.date >= datetime.date(2022, 1, 1)) &
                   df_parquet.Ticker.str.startswith('BANKNIFTY') & 
                   (df_parquet.Ticker.values != 'BANKNIFTY') & 
                   (df_parquet.Ticker.values != 'BANKNIFTY-FUT') & 
                   (df_parquet.Ticker.str.contains('BANKNIFTY\d\d[A-Z]+\d\d[CP]+\d+', regex=True)!=True)]

In [56]:
df_parquet = pd.read_parquet(
    '/mnt/c/Personal/Projects/PyAlgoMate/pyalgomate/backtesting/data/2023/nifty-02.parquet')

# df_parquet[df_parquet['Date/Time'].dt.date >= datetime.date(2022, 9, 26)].to_parquet(
#     '/mnt/c/Personal/Projects/PyAlgoMate/pyalgomate/backtesting/data/test.parquet',
#     index=False)

df_parquet[(df_parquet['Date/Time'].dt.date == datetime.date(2023, 2, 1)) 
           #&
           #(df_parquet['Date/Time'].dt.time >= datetime.time(15, 0)) &
            #&df_parquet.Ticker.str.startswith('NIFTY')
                #& (df_parquet.Ticker.values == 'BANKNIFTY25JAN23C41100')
                #   # (df_parquet.Ticker.values != 'BANKNIFTY-FUT') & 
                    &(df_parquet.Ticker.str.contains('NIFTY\d\d[A-Z]+\d\d[CP]+\d+', regex=True)==True) 
                #    #&(df_parquet.Ticker.values == 'BANKNIFTY25AUG22P38300')
                   ]

#.to_parquet('/mnt/c/Personal/Projects/PyAlgoMate/pyalgomate/backtesting/data/test.parquet', index=False)

,Ticker,Date/Time,Open,High,Low,Close,Volume,Open Interest
205588,NIFTY02FEB23C16450,2023-02-01 09:15:00,1305.10,1305.10,1305.10,1305.10,101.0,0.0
205589,NIFTY02FEB23C16450,2023-02-01 15:20:00,1185.10,1185.10,1185.10,1185.10,100.0,100.0
205764,NIFTY02FEB23C16500,2023-02-01 09:41:00,1289.15,1289.15,1289.15,1289.15,51.0,14450.0
205765,NIFTY02FEB23C16500,2023-02-01 09:44:00,1290.00,1290.00,1290.00,1290.00,50.0,14400.0
205766,NIFTY02FEB23C16500,2023-02-01 09:45:00,1294.00,1294.00,1294.00,1294.00,100.0,14350.0
...,...,...,...,...,...,...,...,...
2242600,NIFTY23FEB23P20300,2023-02-01 12:42:00,2423.55,2423.55,2423.55,2423.55,50.0,68050.0
2242601,NIFTY23FEB23P20300,2023-02-01 14:04:00,2279.35,2279.35,2279.35,2279.35,50.0,68000.0
2242602,NIFTY23FEB23P20300,2023-02-01 14:09:00,2528.25,2528.25,2528.25,2528.25,50.0,67950.0
2242603,NIFTY23FEB23P20300,2023-02-01 14:55:00,2750.00,2750.00,2750.00,2750.00,100.0,67950.0
2242604,NIFTY23FEB23P20300,2023-02-01 15:17:00,2750.00,2750.00,2750.00,2750.00,50.0,68050.0

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
dbEngine = create_engine('sqlite:////mnt/c/Personal/Projects/PyAlgoMate/data.db')

In [ ]:
conn = dbEngine.connect()

In [ ]:
pd.read_sql_table('intraday_data', conn)